.taskTable {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

table {
  border-collapse: separate;
}

tr, td {
  border: none;
  padding: 10px;
}

.taskNumber {
  text-align: right;
}

.taskItem {
  text-align: left;
  padding-left: 25px;
}

th {
  font-size: 25px;
}

tr:hover {
  background: rgba(200, 200, 200, 0.3);
}

td {
  font-size: 20px;
}
